body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link {
  @apply mx-4 bg-slate-300 px-6 py-4 rounded-xl;
}
.active {
  @apply text-black;
}
.link.active {
  @apply bg-teal-100 text-black;
}
.link {
  @apply flex justify-center  p-5 text-base font-normal text-gray-900  dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 border-solid border-2 
 bg-blue-300 my-16 mx-5 rounded-full;
}
.input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-black rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
}
.form-container {
  @apply bg-black fixed w-5/6 h-screen top-0  bg-opacity-10 flex justify-center transition ease-in-out delay-150;
}
.title-form {
  @apply text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-blue-800;
}
.title-span {
  @apply bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2;
}
.div-form {
  @apply bg-white relative h-auto max-w-xl rounded-xl p-5 overflow-auto  border-black m-10 flex flex-col;
}
.Title-Div {
  @apply flex py-4;
}
.form {
  @apply max-w-lg;
}
.form-div {
  @apply py-36 flex flex-row-reverse;
}
.input-container {
  @apply flex flex-wrap -mx-3 mb-6;
}
.input-wrapper {
  @apply w-full md:w-1/2 px-3 mb-6 md:mb-0;
}

.button-container {
  @apply w-full px-3;
}
.label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}
.error {
  @apply text-red-400;
}
.valid {
  @apply bg-white border-transparent border-4 text-blue-500 hover:text-teal-800 text-sm py-1 px-2 rounded;
}
.invalid {
  @apply bg-white border-transparent border-4 text-red-500 hover:text-teal-800 text-sm py-1 px-2 rounded;
}
.data-div {
  @apply container  justify-center  my-10 mx-auto flex flex-col bg-blue-500 rounded;
}
.title-data {
  @apply text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center;
}
.divdata1 {
  @apply p-6;
}
.add-container {
  @apply flex flex-row-reverse;
}
.data-add {
  @apply bg-green-500 hover:bg-green-700 font-bold py-2 rounded-full px-2  text-black   my-2;
}
.table-div {
  @apply overflow-x-auto rounded-md;
}
.table {
  @apply divide-y divide-gray-300 w-full;
}
.thead {
  @apply bg-black;
}
.th {
  @apply px-6 py-2 text-xs text-white;
}
.tbody {
  @apply bg-white divide-y divide-gray-500;
}
.tr {
  @apply bg-gray-50 whitespace-nowrap;
}
.td {
  @apply px-6 py-4 text-center text-black;
}
.modif {
  @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full;
}
.supp {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
